[access]
	inheritFrom = Public-Plugins
[access "refs/*"]
	owner = group plugins-high-availability
	exclusiveGroupPermissions = label-Verified labelAs-Verified
[project]
	description = Synchronize eviction of caches, secondary indexes and stream events between two Gerrit instances sharing the same git repositories and database.
