[peerInfo]
  strategy = static

[peerInfo "static"]
  url = http://primary2:8080

[autoReindex]
  enabled = true
  pollInterval = 10s

[cache]
   pattern = changes
   pattern = conflicts
   pattern = git_tags
   pattern = mergeability
   pattern = adv_bases

[websession]
  synchronize = false

[healthcheck]
  enable = false