[gerrit]
	basePath = git
	canonicalWebUrl = http://gerrit:8080/
	serverId = f7696647-8efd-41b1-bd60-d321bc071ea9
	installDbModule = com.ericsson.gerrit.plugins.highavailability.ValidationModule
	installModule = com.gerritforge.gerrit.globalrefdb.validation.LibModule
[index]
	type = LUCENE
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
	cookiedomain = localhost
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8080/
	requestLog = true
[cache]
	directory = cache
[container]
	user = gerrit
[download]
	scheme = http
	scheme = ssh
	scheme = anon_http
