[gerrit]
	basePath = git
	canonicalWebUrl = http://gerrit:8080/
[database]
	type = postgresql
	hostname = postgres
	database = reviewdb
	username = gerrit
	password = secret
[index]
	type = LUCENE
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
	cookiedomain = localhost
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8080/
	requestLog = true
[cache]
	directory = cache
[container]
	user = gerrit
[download]
	scheme = http
	scheme = ssh
	scheme = anon_http
[plugin "plugin-manager"]
	jenkinsUrl = https://archive-ci.gerritforge.com
