[gerrit]
	basePath = git
	canonicalWebUrl = http://gerrit:8080/
	serverId = f7696647-8efd-41b1-bd60-d321bc071ea9
[index]
	type = LUCENE
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
	cookiedomain = localhost
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://*:8080/
	requestLog = true
[cache]
	directory = cache
[container]
	user = gerrit
	javaOptions = "-Daws.accessKeyId=theKey"
	javaOptions = "-Daws.secretAccessKey=theKey"
[download]
	scheme = http
	scheme = ssh
	scheme = anon_http
[plugin "aws-dynamodb-refdb"]
    region = us-east-1
    endpoint = http://kinesis:4566
    locksTableName = locks
    refsDbTableName = refsDb
